<!doctype html>
<html style="height: 100%;">

  {% include head.html %}

  <link rel="stylesheet" href="assets/styles.css">
  <link rel="stylesheet" type="text/css" href="https://couchbase-docs.s3.amazonaws.com/mobile/assets/styles.css">

<body style="height: 100%;">

  {% include header.html %}

  <div style="display: inline-block;height: 100%;">
    
    {% assign lessonsByType = site.tutorials | where:"type",page.type %}
    {% if page.tutorialh2sidebar %}
      {% include tutorial-h2-sidebar.html %}
    {% else %}
      {% include tutorial-sidebar.html type=page.type %}
    {% endif %}
    

    <div class="body">
      <div class="main">
        <div class="inner">
          {% if page.tabs %}
            {% include tabs.html languages=page.languages %}
          {% endif %}
          
          {% for lesson in lessonsByType %}
          <div class="lesson" id="{{ lesson.slug }}">
            
            {% if lesson.language %}
              <block class="{{ lesson.language }}" />
            {% endif %}

            {{ lesson.content }}
            
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

  {% include tabs-footer.html first=page.first %}

  {% include footer.html %}

</body>
  <script>
    function getParameterByName(name, url) {
      if (!url) {
        url = window.location.href;
      }
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    function load(anchor, isFirstLoad) {
      var lessons = document.getElementsByClassName('lesson');
      for (index in lessons) {
        lessons.item(index).style.display = 'none';
      }
      var el = document.getElementById(anchor);
      el.style.display = 'block';
      if (!isFirstLoad) {
        window.history.pushState({path: updateQueryStringParameter(window.location.href, 'lesson', anchor)}, '', updateQueryStringParameter(window.location.href, 'lesson', anchor));
      }
      
        $('img').prop('height', function () {
          if ($(this).height() > $(this).width()) {
            $(this).width(300);
          } else {
          }
        });
    }
    var lesson = getParameterByName('lesson');
    if (lesson) {
      load(lesson)
    } else {
      setTimeout(function () {load('{{ lessonsByType[0].slug }}', true)}, 300);
    }
  </script>
</html>
