[submodule "samples/_tutorials/couchbase_mobile_blogs"]
	path = samples/_tutorials/couchbase_mobile_blogs
	url = git@github.com:couchbaselabs/couchbase_mobile_blogs.git
[submodule "samples/_tutorials/mobile-training-todo"]
	path = samples/_tutorials/mobile-training-todo
	url = git@github.com:couchbaselabs/mobile-training-todo.git
[submodule "samples/_tutorials/couchbase-amazon-cli"]
	path = samples/_tutorials/couchbase-amazon-cli
	url = git@github.com:couchbase-guides/couchbase-amazon-cli.git
[submodule "samples/_tutorials/couchbase-docker"]
	path = samples/_tutorials/couchbase-docker
	url = git@github.com:couchbase-guides/couchbase-docker.git
[submodule "samples/_tutorials/asp-net-mvc"]
	path = samples/_tutorials/asp-net-mvc
	url = git@github.com:couchbase-guides/asp-net-mvc.git
[submodule "samples/_tutorials/java-sdk"]
	path = samples/_tutorials/java-sdk
	url = git@github.com:couchbase-guides/java-sdk.git
[submodule "samples/_tutorials/nodejs-express"]
	path = samples/_tutorials/nodejs-express
	url = git@github.com:couchbase-guides/nodejs-express.git
[submodule "samples/_tutorials/nativescript-angular"]
	path = samples/_tutorials/nativescript-angular
	url = git@github.com:couchbase-guides/nativescript-angular.git
[submodule "samples/_tutorials/python-sdk"]
	path = samples/_tutorials/python-sdk
	url = git@github.com:couchbase-guides/python-sdk.git
[submodule "samples/_tutorials/java-android"]
	path = samples/_tutorials/java-android
	url = git@github.com:couchbase-guides/java-android.git
