.sidebar ul, .sidebar li {
  list-style-type: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

.sidebar-content {
  position: fixed;
  overflow-y: auto;
  background: #f5f5f5;
  padding: 0 20px;
  height: 100%;
}

.sidebar-content ul {
  margin-left: 20px;
}

.sidebar-content li {
  padding: 5px 0;
}

.sidebar-content a {
  color: black;
  font-size: 18px;
}

.content-container {
  display: block;
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  /*align-items: stretch;*/

  position: absolute;
  top: 64px;
  left: 300px;
  right: 0px;
  bottom: 0px;
}

.content {
  display: block;
  width: 800px;
  margin: 0 auto;
}

/* Tabs feature */
.tabs > a {
  display: inline-block;
  padding: 3px 20px;
  margin: 2px;
  border: 1px solid #00739c;
  border-radius: 3px;
  text-decoration: none !important;
}

.tab {
  display: none;
  background-color: beige;
}


/* HACK: To override the AuthX styles (navs, lists) */
.body ul, .body li {
  list-style-type: disc !important;
  line-height: 1.5;
}

.body ul, .inner-content ul {
  list-style-type: disc !important;
}

/* Override AuthX styles */
.body ul ul, .body ul ul li {
  list-style-type: circle !important;
  margin: 0 !important;
}
.body ul {
  padding-left: 40px !important;
  margin: 1em 0 !important;
}

/* Heading sizes */
.body h1 {font-size: 34px;}
.body h2 {font-size: 24px;}
.body h3 {font-size: 20px;}
.body h4 {font-size: 16px;}
.body h5 {font-size: 12px;}
.body h6 {font-size: 8px;}

img {
  display: block;
  margin: 0 auto;
}