.docs-ui
{
  color: black;

  pre, pre#code {
    font-size: 12px;
    margin: 0;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    border-radius: 4px;
    overflow-wrap: break-word;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #555;
    
    text-shadow: none !important;
  }
  
  a {
    color: #1D78C1;
    border-bottom: 1px dotted #1D78C1;
    text-decoration: none;
  }
}
