<!-- Require_js bootstrap for app-specific JS module support -->
<!-- data-main attribute tells require.js to load
scripts/main.js after require.js loads. -->
<script type="text/javascript" src="https://developer.couchbase.com/webfiles/1498186094252/js/thirdparty/vendor/require.js"></script>
<script type="text/javascript" src="https://developer.couchbase.com/webfiles/1498186094252/js/thirdparty/vendor/prism.js"></script>
<script rel="main" type="text/javascript" src="https://developer.couchbase.com/webfiles/1498186094252/js/main.js" ></script>
<!-- leave the main attribute, it is used to help main.js determine -->
<!-- the domain-relative path to the base script (main.js) -->