<link href="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui.css" media="screen" rel="stylesheet" type="text/css"/>

<div id="swagger-ui"></div>
<script src="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui-bundle.js"> </script>
<script src="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui-standalone-preset.js"> </script>

<script>
  $(window).load(function() {
    const ui = SwaggerUIBundle({
      url: "https://couchbase-docs.s3.amazonaws.com/mobile/{{site.version}}/rest-apis/{{include.name}}.json",
      dom_id: '#swagger-ui',
      deepLinking: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "StandaloneLayout",
      tagsSorter: "alpha",
      operationsSorter: "alpha",
      docExpansion: "none"
    })
    window.ui = ui
  });
</script>