<div>
  {% for version in include.versions %}
  <button class="swagger-ui-version-button" style="color: black;background: white;border-radius: 4px;border: none;display: inline-block;" onclick="onClick('{{version}}')">v {{version}}</button>
  {% endfor %}
</div>

<link href="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui.css" media="screen" rel="stylesheet" type="text/css"/>
<style>
  .article .body pre, #swagger-ui .article .body-param pre {
    text-shadow: none !important;
  }
  #swagger-ui a {
    color: #3b4151 !important;
  }
  #swagger-ui .swagger-ui .tab li {
    min-width: 100px;
  }
  #swagger-ui .information-container.wrapper {
    display: none;
  }
  #swagger-ui .topbar {
    display: none;
  }
</style>

<div id="swagger-ui"></div>
<script src="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui-bundle.js"> </script>
<script src="https://couchbase-docs.s3.amazonaws.com/assets/swagger-ui-3/swagger-ui-standalone-preset.js"> </script>

<script>
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }
  function onClick(version) {
    if (history.pushState) {
      var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?v=' + version;
      window.history.pushState({path:newurl},'',newurl);
    }
    loadUI(version)
  }
  function loadUI(version) {
    var buttons = document.getElementsByClassName("swagger-ui-version-button");
    for (var i = 0; i < buttons.length; i++) {
      var button = buttons[i];
      if (button.innerText == 'v ' + version) {
        button.style.background = 'black';
        button.style.color = 'white';
      } else {
        button.style.background = 'white';
        button.style.color = 'black';
      }
    }
    
    const ui = SwaggerUIBundle({
      url: "https://couchbase-docs.s3.amazonaws.com/mobile/" + version + "/rest-apis/{{ include.name }}.json",
      dom_id: '#swagger-ui',
      deepLinking: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      tagsSorter: "alpha",
      operationsSorter: "alpha",
      docExpansion: "none",
      layout: "StandaloneLayout"
    })
    window.ui = ui
  }

  $(window).load(function() {
    if (getParameterByName('v')) {
      loadUI(getParameterByName('v'));
    } else {
      loadUI("{{ include.current }}");
    }
  });
</script>