<div class="toggler">
  <ul role="tablist" >
    <li id="quickstart" class="button-quickstart button-ios" aria-selected="false" role="tab" tabindex="0" aria-controls="quickstarttab" onclick="displayTab('platform', 'ios')">
      iOS
    </li>
    <li id="native" class="button-native button-android" aria-selected="false" role="tab" tabindex="-1" aria-controls="nativetab" onclick="displayTab('platform', 'android')">
      Android
    </li>
    <li id="native" class="button-native button-net" aria-selected="false" role="tab" tabindex="-1" aria-controls="nativetab" onclick="displayTab('platform', 'net')">
      .NET
    </li>
  </ul>
</div>