---
layout: default
---

<main id="global-content" class="global-content" role="main">
  

  <div id="page-template-attributes" data-template-id="" data-template-class="learn-support-sec article-tpl"></div>

  <!-- LEFTNAV and ARTICLE -->
  <section class="tpl-body">
    <div class="wrapper">
      {{ content }}
    </div>
  </section>
</main>

<script>
  /**
   * HACK: To keep the code tabs while using markdown. Insert <div class="tab"></div> in the markdown and this script
   * finds and replaces all instances with a tab bar.
   */
  var tab_bar_html = "</div><a href='javascript:setLanguage(\"swift\")' class=\"tab stripe-active swift\">Swift</a> <a href='javascript:setLanguage(\"objective-c\")' class=\"tab stripe-active objective-c selected\">Objective-C</a> <a href='javascript:setLanguage(\"android\")' class=\"tab stripe-active android\">Android</a> <a href='javascript:setLanguage(\"java\")' class=\"tab stripe-active java\">Java</a> <a href='javascript:setLanguage(\"c\")' class=\"tab stripe-active c\">C#</a>"
  var tab_bars = document.getElementsByClassName('tabs');
  var i = tab_bars.length - 1;
  while (i >= 0) {
    var parent = tab_bars.item(i).parentNode;
    var element = document.createElement('div');
    element.className = 'tab-bar';
    element.innerHTML = tab_bar_html;
    parent.replaceChild(element, tab_bars.item(i));
    i--;
  }
</script>