.milestones {
  ol {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
    color: #a5b3bb;
    line-height: 26px;
  }
}


/* HACK: To override the AuthX styles (navs, lists) */
.body ul, .body li {
  list-style-type: disc !important;
  line-height: 1.5;
}

.body ul, .inner-content ul {
  list-style-type: disc !important;
}

/* Override AuthX styles */
.body ul ul, .body ul ul li {
  list-style-type: circle !important;
  margin: 0 !important;
}
.body ul {
  padding-left: 40px !important;
  margin: 1em 0 !important;
}

/* Heading sizes */
.body {
  h1 {font-size: 34px;}
  h2 {font-size: 24px;}
  h3 {font-size: 20px;}
  h4 {font-size: 16px;}
  h5 {font-size: 12px;}
  h6 {font-size: 8px;}
}

.inner-content {
  a {
    color: #ec1e2c !important;
  }
}